<div class="row">
  <div class="col-md-6">
    <form style="
    margin-top: 250px;" ng-submit="printsEdit.update()">
      <label for="title">Print Name:</label>
      <input type="text" id="title" ng-model="printsEdit.print.title">

      <label for="body">About the print:</label>
      <textarea id="body" body="body" ng-model="printsEdit.print.body" cols="30" rows="8"></textarea>

      <label for="price">Price:</label>
      <input type="number" id="price" ng-model="printsEdit.print.price" placeholder="£">

      <button>Update</button>
    </form>
  </div>
</div>
