<div class="prints_container">
  <h2>{{ printsShow.print.title }}</h2>
  <img ng-src="{{ printsShow.print.image_src }}">
  <p>Created by:
    <strong>
      <a ui-sref="usersShow({ id: printsShow.print.user.id})">{{ printsShow.print.user.username }}</a>
    </strong></p>
  <p>{{ printsShow.print.price | currency:"£":2}}</p>
  <button onclick="document.getElementById('payment_modal').style.display='block'" ng-if="main.currentUser.id !== printsShow.print.user.id">Buy it!</button>
  <button ng-click="printsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === printsShow.print.user.id">Delete</button>
  <!-- <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true" onclick="style.color='rgba(250, 120, 120, 1)'"><span class="like_value">10</span></i> -->
</div>


<div id="payment_modal" >
    <div class="modal-content">
      <div class="modal-container">
        <span onclick="document.getElementById('payment_modal').style.display='none'" class="close">&times;</span>
        <form class="payment_form" action="index.html" method="post">
          <h3>Payment</h3>
          <label>You are buying {{printsShow.print.title}}</label>
          <input type="number" name="card_name" placeholder="Cardholder's name">
          <input type="number" name="card_number" placeholder="Card number">
          <input type="number" name="CVC" placeholder="CVC number">
          <button>Pay</button>
        </form>
      </div>
    </div>
</div>
