<div class="prints_container">
  <h2>{{ printsShow.print.title }}</h2>
  <img ng-src="{{ printsShow.print.image_src }}">
  <p>Created by:
    <strong>
      <a ui-sref="usersShow({ id: printsShow.print.user.id})">{{ printsShow.print.user.username }}</a>
    </strong></p>
  <p>{{ printsShow.print.price | currency:"£":2}}</p>
  <button onclick="document.getElementById('payment_modal').style.display='block'" ng-if="main.currentUser.id !== printsShow.print.user.id">Buy it!</button>
  <button ng-click="printsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === printsShow.print.user.id">Delete</button>
</div>

<div class="comment_container">
  <div class="" ng-if="main.isAuthenticated()">
    <h3>Add Comment</h3>
    <form ng-submit="printsShow.addComment()">
      <textarea rows="5" cols="50" name="body" ng-model="printsShow.comment.body"></textarea>
      <button>Create</button>
    </form>
  </div>
  <div class="">
    <h3>Comments</h3>
    <ul>
      <li ng-repeat="comment in printsShow.print.comments">
        <strong>{{ comment.user.username }}</strong> said: <br><span class="comment_text">"<em>{{ comment.body }}</em>"</span>
        <button ng-click="printsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button>
      </li>
    </ul>
  </div>
</div>

<div id="payment_modal" >
    <div class="modal-content">
      <div class="modal-container">
        <span onclick="document.getElementById('payment_modal').style.display='none'" class="close">&times;</span>
        <form class="payment_form" action="index.html" method="post">
          <h3>Payment</h3>
          <label>You are buying {{printsShow.print.title}}</label>
          <input type="number" name="card_name" placeholder="Cardholder's name">
          <input type="number" name="card_number" placeholder="Card number">
          <input type="number" name="CVC" placeholder="CVC number">
          <button>Pay</button>
        </form>
      </div>
    </div>
</div>
