.hero {
  background: url('https://images.pexels.com/photos/3276/screen-print.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  position: relative;
  z-index: -1;
}

.header_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  h1 {
    color: rgba(50, 250, 250, 0.3);
    font-size: 150px;
  }
}

main {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.prints_container {
  max-width: 600px;
  margin: 20px auto;
  img {
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    width: 100%;
  }
}

.comment_container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  h3 {
    text-align: center;
  }
  li {
    list-style: none;
    margin: 0 10px 10px -40px;;
  }
  textarea {
    width: 100%;
  }
  button {
    display: block;
    width: auto;
    margin: 0 auto;
  }
  .comment_text {
    padding: 0 20px;
    font-size: 18px;
  }
}

i {
  float: right;
  margin: -2px 0 0 0;
  padding: 0;
}

button {
  background: none;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 10px 25px;
  text-transform: uppercase;
  &:hover {
    background: #e9e9e9;
  }
}

.col-md-6 {
  text-align: center;
  position: absolute;
  width: 250px;
  left: 50%;
  top: 35%;
  transform: translateX(-50%) translateY(-50%);
  label {
    margin-top: 20px;
  }
  button {
    margin-top: 40px;
  }
  input {
    padding: 5px;
    letter-spacing: 1px;
    width: 100%;
    border: none;
    border-bottom: solid 1px #999;
    border-left: solid 1px #999;
    transition: all 0.5s ease;
    &:focus {
      outline: none;
      border-bottom: solid 1px turquoise;
      border-left: solid 1px turquoise;
    }
  }
}

#payment_modal {
  display: none;
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.payment_form {
  text-align: center;
  height: 325px;
  input {
    width: 80%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  button {
    clear: both;
    display: block;
    margin: 10px auto;
  }
}

.close {
  margin: 0 5px;
  font-size: 35px;
  position: absolute;
  right: 5%;
  top: 2%;
}

#photos, #user_prints {
   /* Prevent vertical gaps */
   line-height: 0;
   z-index: 0;
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

#photos img, #user_prints img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 5px 0 0;
  padding: 0 2px;
}

.navbar-default {
  background-color: #fff;
  border-top-color: none;
  border-bottom-color:#999;
  letter-spacing: 2px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
    margin: 0 auto;
    width: 38%;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  textarea {
  color: inherit;
  font: 14px;
  line-height: 14px;
  height: auto;
  }

// ****************** IMAGE OVERLAY ON HOVER **************** /
.print {
  .overlay {
    background-color: rgba(250, 250, 250, 0.5);
    width: 98%;
    height: 100%;
    position: relative;
    bottom: 90px;
    color:  rgba(0, 0, 0, 0.85);
    text-align: center;
    padding-bottom: 5px;
    margin: 0 auto -70px;
    letter-spacing: 1px;
    // font-weight: lighter;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover .overlay {
    opacity: 1;
  }
}



// ****************** MEDIA QUERIES ************* //
  @media (max-width: 1200px) {
    #photos, #user_prints {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos, #user_prints {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos, #user_prints {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }

  @media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
